* {
	padding: 0;
	margin: 0; 
}
body {
	background: #fff;
	color: #666;
	font-size: 14px;
}
/*custom rules*/
.font-sm {
	font-size: 12px;
}
.font-md {
	font-size: 14px;
}
.font-lg {
	font-size: 18px;
}
.font-xl {
	font-size: 20px;
}
.col-* {
	float: left;
}
.fixed {
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	width: 100%;
	transition: .2s;
	box-shadow: 0px 0px 10px #444;
}
.fixed .menu2 {
	margin: 10px 5px;
}
/*custom rules*/
/*Topo*/
header {
	height: auto;
	border-bottom: 1px solid #e5e5e5;
	color: #999;
}
.logo {
	margin: 10px 0;
}
.logo img {
	width: 200px;
}
.barra-topo {
	background: #ea7a37;
	box-sizing: border-box;
	padding: 10px 8px;
	width: 100%;
}
.barra-topo a {
	color: #fff;
}
.redes-sociais {
	text-align: right;
}
.social a {
	margin-right: 19px;
}
.social a:hover {
	color: #999;
}
/*Fim Topo*/
.bg-home {
	background: url(../imagens/analisar-resultados.jpg) no-repeat center;
	background-size: cover;
	/*background-attachment: fixed;*/
}
.bg-darken {
	background: rgba(0,0,0,0.4);
	min-height: 500px;
}
/*menu*/
.menu2 {
	list-style: none;
	float: right;
	margin: 37px 5px;
}
.menu2 li {
	display: inline-block;
	margin: 5px 16px;
}
.menu2 li a {
	padding: 8px 6px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.menu2 li a:hover {color: #ea7a37;}
/*fim menu*/
/*footer*/
footer {
	box-sizing: border-box;
	padding: 10px 0;
	background: #414143;
	color: #fff;
}
menu-footer {
	width: 100%;
}
.menu-footer ul {
	list-style: none;
	text-align: center;
}
.menu-footer ul li {
	display: inline-block;
}
.menu-footer ul li a {
	padding: 8px 10px;
	color: #fff;
}
.menu-footer ul li a:hover {
	text-decoration: none;
	color: #999; 
}
.copyright-footer {
	background: #333;
	color: #fff;
	box-sizing: border-box;
	padding: 15px 0;
	text-align: center;
	border-top: 1px solid #565656;
}
/*fim footer*/
/*mobile*/
@media only screen and (max-width: 768px) {
	.topofixo {
		position: relative;
		display: block;
		width: 100%;
		top: 0;
	}
	.fixed {
		position: relative;
		top: 0;
		width: 100%;
	}
}
/*mobile*/
@media only screen and (max-width: 425px) {
	.topofixo {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
	}
	.topofixo:after {
		content: "";
		display: block;
		clear: both;
	}
	.navbar {
		width: 100%;
	}
	.topofixo:after{
		clear: both;
	}
	.fixed {
		display: none;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	ul.navbar-nav {
	    background: #fff;
	}
}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu2 {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}