* {
	padding: 0;
	margin: 0; 
}
body {
	background: #fff;
	color: #666;
	font-size: 14px;
}
/*custom rules*/
.font-sm {
	font-size: 12px;
}
.font-md {
	font-size: 14px;
}
.font-lg {
	font-size: 18px;
}
.font-xl {
	font-size: 20px;
}
.fixed {
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	width: 100%;
	transition: .2s;
	box-shadow: 0px 0px 10px #444;
	z-index: 999;
}
.fixed .menu2 {
	margin: 10px 5px;
}
.align-text-center {
	text-align: center;
}
.align-text-left {
	text-align: left;
}
.align-text-right {
	text-align: right;
}
/*custom rules*/
/*Topo*/
header {
	height: auto;
	border-bottom: 1px solid #e5e5e5;
	color: #999;
}
.logo {
	margin: 10px 0;
}
.logo img {
	width: 200px;
}
.barra-topo {
	background: #ea7a37;
	box-sizing: border-box;
	padding: 10px 8px;
	width: 100%;
}
.barra-topo a {
	color: #fff;
}
.redes-sociais {
	text-align: right;
}
.social a {
	margin-right: 19px;
}
.social a:hover {
	color: #999;
}
/*Fim Topo*/
.bg-home {
	background: url(../imagens/analisar-resultados.jpg) no-repeat center;
	background-size: cover;
	/*background-attachment: fixed;*/
}
.bg-darken {
	background: rgba(0,0,0,0.4);
	min-height: 500px;
}
/*menu*/
.menu2 {
	list-style: none;
	float: right;
	margin: 37px 5px;
}
.menu2 li {
	display: inline-block;
	margin: 5px 16px;
}
.menu2 li a {
	padding: 8px 6px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.menu2 li a:hover {color: #ea7a37;}
/*fim menu*/
/*footer*/
footer {
	box-sizing: border-box;
	padding: 10px 0;
	background: #414143;
	color: #fff;
	margin-top: 15px;
}
menu-footer {
	width: 100%;
}
.menu-footer ul {
	list-style: none;
	text-align: center;
}
.menu-footer ul li {
	display: inline-block;
}
.menu-footer ul li a {
	padding: 8px 10px;
	color: #fff;
}
.menu-footer ul li a:hover {
	text-decoration: none;
	color: #999; 
}
.copyright-footer {
	background: #333;
	color: #fff;
	box-sizing: border-box;
	padding: 15px 0;
	text-align: center;
	border-top: 1px solid #565656;
}
/*fim footer*/
.bg-gray {
	background: #f5f5f5;
	box-sizing: border-box;
	padding: 15px 0;
}
.thumbs {
	width: 100%;
	min-height: 300px;
	background: #fff;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	border: 1px solid #e9e9e9;
}
.thumbs img {
	transition: .3s
}
.thumbs:hover img {
	transform: scale(1.05);
}
.border-custom:nth-child(1) .thumbs {
	border-top: 5px solid #EA7A37;
}
.border-custom:nth-child(2) .thumbs {
	border-top: 5px solid #67ED50;
}
.border-custom:nth-child(3) .thumbs {
	border-top: 5px solid #251D9D;
}
.thumbs .card-description h2 {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	font-size: 23px;
	margin: 10px;
}
.card-description {
	box-sizing: border-box;
	padding: 0 5px;
}
.card-description p {
	font-size: 12px;
	text-align: center
}
.bg-crescimento {
	background: url(../imagens/crescimento.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}
.bg-orange {
	background: rgba(220, 82, 0, 0.8);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	min-height: 250px;
}
.bg-orange h2 {
	font-size: 45px;
}
.bg-orange p {
	font-size: 22px;
}


/*mobile*/
@media only screen and (max-width: 768px) {
	.topofixo {
		position: relative;
		display: block;
		width: 100%;
		top: 0;
	}
	.fixed {
		position: relative;
		top: 0;
		width: 100%;
	}
	.js #menu2 {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	.thumbs {
		margin-bottom: 10px;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
}
/*mobile*/
@media only screen and (max-width: 425px) {
	.topofixo {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
	}
	.topofixo:after {
		content: "";
		display: block;
		clear: both;
	}
	.navbar {
		width: 100%;
	}
	.topofixo:after{
		clear: both;
	}
	.fixed {
		display: none;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	ul.navbar-nav {
	    background: #fff;
	}
	.menu-footer li {
		display: block;
		width: 100%;
		margin: 5px 0;
	}
	.menu-footer li a {
		background: #333;
		width: 100%;
		display: block;
	}

}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu2 {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}